.list {
  ul {
    margin: 20px 0 0 0;
    text-align: center;
    background-color: #c7c2b3;
    border-radius: 0px 0px 15px 15px;
  }
  li {
    padding: 20px;
    display: inline;
  }
  a {
    color: green;
    text-decoration: none;
  }
}
.gazel {
  text-align: right;
  margin-bottom: 0;
  padding: 0px 10px 10px 0;
}
