.questiondiv {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  background-color: #fffbe7;
  border: dashed 1px #ffeb85;
}

.call {
  padding: 20px;
}
.number {
  font-weight: 600;
  padding: 20px;
}
